@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    a{
        @apply hover:text-[#d90429] m-3 p-2
    }
    img:hover {
      border-color: blue;
    }
    #intro{
      @apply bg-secondary;
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); */
  }
    #about-me{
        
        /* clip-path: polygon(0 70%, 100% 20%, 100% 100%, 0 100%); */
    }
    p, h{
        @apply text-black
    }
    .page-section {
        padding: 6rem 0;
      }
      .page-section .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
      }
      .container
       {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
}