@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: whitesmoke;
    scroll-behavior: smooth;
    font-family: "Lucida Console"
}

::-webkit-scrollbar{
    width:12px
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(29,17,138,0.6);
}

::-webkit-scrollbar-thumb:hover{
    background-color: blue;
}